body {
    border: 8px solid black;
    border-radius: 20px;

    padding: 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    max-height: max-content;
    background-color: rgb(42, 165, 165);

}

fieldset {
    border: 5px solid black;
}

h1 {
    color: darkred
}

p {
    background-color: tomato;

}